* {
	font: georgia serif;
}

body {
	overflow: hidden;
}

#menu {
	height: 22pt;
	width: 100%;
	z-index: 2;
	background-color: #FFF;
	opacity: 0.9;
	margin-top: 20px;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: #333;
}

p {
	color: #333;
}

a.menuitem {
	float: left;
	position: relative;
	font-size: 12pt;
	text-indent: 22px;
}

a.submenuitem {
	float: left;
	position: relative;
	font-size: 10pt;
	text-indent: 22px;
	padding: 1pt
}

img {
	padding: 10px;
}

#submenu {
	height: 100%;
	overflow: hidden;
	position: fixed;
	width: 100%;
}

#submenu a, p {
	text-indent: 22pt;
}

#display {
	z-index:0;
	height:622px;
	width: 100%;
	padding:10px;
	background: #FFF;
	font-size: 10pt;
}

.outer {
	overflow: scroll;
}

#n-i-16 {
	z-index:0;
	left:0px;
	height:100%;
	width: 12020px;
	overflow-y: hidden;
	background-color: #FFF;
}

#hebei01 {
	z-index:0;
	left:0px;
	height:100%;
	width: 15280px;
	background: #FFF;
}

#hebei02 {
	z-index:0;
	left:0px;
	height:100%;
	width: 6240px;
	background: #FFF;
}

#d1010 {
	z-index:0;
	left:0px;
	height:100%;
	width: 3620px;
	overflow-y: hidden;
	background-color: #FFF;
}

#n1010 {
	z-index:0;
	left:0px;
	height:100%;
	width: 3620px;
	overflow-y: hidden;
	background-color: #FFF;
}

#akl-kef {
	width: 9820px;
	z-index:0;
	left:0px;
	height:100%;
	overflow-y: hidden;
	background-color: #FFF;
}

#portraits {
	z-index:0;
	left:0px;
	height:100%;
	width: 10920px;
	background: #FFF;
}

