* {
	font-family: georgia;
}

a:link, a:visited, a:active, a:hover
	{
	text-decoration:none;
	color: #000;
}

p		{
	letter-spacing: 0px;
	line-height: 110%;       
	color: #333;
	font-size: 11px;
	letter-spacing: 0px;
}

p.title	{
	font-size:16px;
	letter-spacing:1px;
	text-indent:20px;
}

p.submenu	{
	font-size:12px;
	letter-spacing:0px;
	text-indent:60px;
}

p.menuitem {
	font-size:12px;
	letter-spacing:0px;
	text-indent:40px;
	padding-top: 5px;
}

p.menuitem:hover {
	background-color: #777;
	padding: 5px;
	width: 20px;
}

/* p.active {
	background-color: #333;
	padding: 5px;
	color: #FFF;
	width: 20px;
}
*/

p.subheading {
	font-size:12px;
	letter-spacing:0px;
	text-indent:60px;
}

#menu {
	z-index: 50;
	left: 0px;
	position: fixed;
	height: 100%;
	width: 165px;
	background: #FFF;
	opacity: 0.9;
	color: #333;
	padding-top: 8px;
	letter-spacing : 0px;
}

#display {
	z-index:0;
	position: fixed;
	left:200px;
	top:20px;
	height:100%;
	width: 100%;
	padding:10px;
	background: #FFFFFF;
}	

#akl-kef {
	z-index:0;
	left:0px;
	height:100%;
	width: 10030px;
	background: #FFFFFF;
}

#portraits {
	z-index:0;
	left:0px;
	height:100%;
	width: 11110px;
	background: #FFFFFF;
}

#hebei01 {
	z-index:0;
	left:0px;
	height:100%;
	width: 15500px;
	background: #FFFFFF;
	position: absolute;
}

#hebei02 {
	z-index:0;
	left:0px;
	height:100%;
	width: 6440px;
	background: #FFFFFF;
}

img.photato {
	padding: 10px;
}

#d1010 {
	z-index:0;
	left:0px;
	height:100%;
	width: 3820px;
	background: #FFFFFF;
}

#n1010 {
	z-index:0;
	left:0px;
	height:100%;
	width: 3820px;
	background: #FFFFFF;
}

#n-i-16 {
	z-index:0;
	left:0px;
	height:100%;
	width: 12210px;
	background: #FFFFFF;
}

/* +1100px for gallery for 16:9, 440px for 5:7, 640 for 1:1*/
/*if you're reading this; hi, hmu if you can help me with a bit of html, i'd appreciate it, ta.*/