@font-face {
	font-family: "Lato";
	src: url("https://omimanav.com/fonts/lato/Lato-Regular.ttf");
}

* {
	 -webkit-overflow-scrolling: touch;
	font-family: Lato, sans-serif;
	transition-duration: 0.1s;
}

*::selection {
	background-color: #fff;
	color: #000;
}

@media (min-width:800px) {
	body {
		z-index: 0;
		position: fixed;
		display: inline-block;
		
		margin: 0;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		
		background-color: #222;
		background-image: url("https://omimanav.com/img/home-lg.jpg");
		background-size: cover;
		background-position: bottom left;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	#title {
		position: absolute;
		z-index: 5;
		display: inline-block;
		
		left: 1vw;
		bottom: 0;
		
		cursor: pointer;
		font-size: 12vw;
		color: #efefef;
		opacity: 0;
	} 
	
	.tab {
		position: relative;
		z-index: 4;
		display: block;
		
		right: 1vw;
		height: 5.5vw;
		width:100vw;
		top: 2vh;
		overflow: hidden;
	} .tabtitle {
		position: relative;
		display: block;
		float: right;
		
		color: #efefef;
		font-size: 5vw;
		cursor: pointer;
	} .tab button {
		display: block;

		float: right;
		clear: right;
		margin-right: 9vw;

		color: #eeeeee;
		background: none;
		border: none;
		font-size: 1.77vw;
		cursor: pointer;
	} .tab:hover button {
		color: #fff; 
	}
	
	#about {
		position: absolute;
		z-index: 4;
		display: inline-block;
		
		bottom: 2vh;
		right: 1vw;
		
		font-size: 5vw;
		color: #efefef;
		opacity: 0;
		cursor: pointer;
	} #aboutp {
		position: absolute;
		z-index: 1;
		display: inline-block;
		
		left:26vw;
		top: 17vh;
		width: 0vw;
		margin: 0;
		
		font-size: 2vw;
		color: #efefef;
		overflow: hidden;
	} a {
		font-style: italic;
		text-decoration: none;
		color: #efefef;
	}
	
	#gallery {
		position: absolute;
		display: none;
	
		top: 13vh;
		left: 0;
		max-height: 650px;
		height: 70vh;
		width: 101vw;
	
		overflow: auto;
	} #gallery img {
		display: block;
		
		height: 60vh;
		max-height: 600px;
		border: solid #111 10px;
		margin: 10px auto;
	}
}

@media (max-width:800px) {
	body {
		z-index: 0;
		position: fixed;
		display: inline-block;
		
		margin: 0;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		
		background-color: #222;
		background-image: url("https://omimanav.com/img/home-lg.jpg");
		background-size: auto 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	
	#title {
		display: inline-block;
		position: relative;
		z-index: 5;
		
		left: 1vw;
		top: 3vh;
		
		color: #efefef;
		font-size: 8vh;
		opacity: 0;
	}

	.tab {
		position: relative;
		display: block;
		z-index: 1;
		
		top: 8vh;
		left: 1vw;
		
		opacity: 0;
	} .tabtitle {
		color: #efefef;
		font-size: 5vh;
	} .tab button {
		display: block;
		font-size: 0vh;
		color: #efefef;
		border: none;
		background: none;
	}
	
	#about {
		display: none;
	} #aboutp {
		position: relative;
		display: block;
		top: 10vh;
		
		font-size: 3vh;
		color: #efefef;
		padding: 10px;
	} #aboutp a {
		text-decoration: none;
		color: #efefef;
	}
	
	#gallery {
		z-index: 0;
		position: absolute;
		
		top: 15vh;
		height: 75vh;
		width: 100vw;
		
		opacity: 0;
		overflow: auto;
	} #gallery img {
		position: relative;
		display: block;
		
		margin: 10px auto;
		border: solid #efefef 5px;
		bottom: 0;
		width: 90vw;
		height: auto;
	}
}