* {
	font-family: monospace;
}

body {
}

a {
	text-decoration: none;
	color: black;
}

#menu {
	width: 200px;
	height: 686px;
	z-index: 20px;
	position: fixed;
	background-color: white;
	opacity: 20px;
}

.menuItems {
	padding-left: 5px;
}

.indented {
	padding-left: 25px;
}

#displayPeople {
	height: 666px;
	z-index: 0px;
	width: 7300px;
	overflow-x: scroll;
}

#displayPlaces {
	height: 686px;
	z-index: 0px;
	width: 12600px;
	overflow-x: scroll;
}

#displayThings {
	height: 666px;
	z-index: 0px;
	width: 11400px;
	overflow-x: scroll;
}
#contact {
	position: relative;
}

#displayContact {
	float: right;
	z-index: 0px;
	height: 686px;
	width: 100%;
	overflow-x: scroll;
}

#title {
	font-size: 20px;
}

#displayAbout {
	width: 2000px;
	height: 686px;
	overflow-y: visible;
	z-index: 0px;
}



img {
	padding-right:20px;
	padding-top: 20px;
	height: 563px;
}

#homePhoto {
	overflow-x: hidden;
	z-index: 0px;
	height: 600px;
	width: 1125px;
}

#displayContainer {
	width: 100%;
	overflow-x: scroll;
	background-color: white;
}