* {
	font-family: georgia;
}

a:link, a:visited, a:active, a:hover
	{
	text-decoration:none;
	color: #000;
	}



p		{
	letter-spacing: 0px;
	line-height: 110%;       
	color: #000;
	font-size: 11px;
	letter-spacing: 0px;
	}

p.title	{
	font-size:16px;
	letter-spacing:1px;
	text-indent:20px;
	}

p.submenu	{
	font-size:12px;
	letter-spacing:0px;
	text-indent:60px;
	font-style: italic;
	}

p.menuitem {
	font-size:12px;
	letter-spacing:0px;
	text-indent:40px;
	padding-top: 5px;
}

#menu 	{
	z-index: 50;
	left: 0px;
	position: fixed;
	height: 100%;
	width: 165px;
	background: #FFF;
	opacity: 0.9;         
	color: #333; 
	padding-top: 8px;
	letter-spacing : 0px
	}

#display {
	z-index:0;
	position: fixed;
	left:200px;
	top:20px;
	height:100%;
	width: 100%;
	padding:10px;
	background: #FFFFFF;
	}	

#akl-kef {
	z-index:0;
	left:0px;
	height:100%;
	width: 10030px;
	background: #FFFFFF;
	}

#portraits {
	z-index:0;
	left:0px;
	height:100%;
	width: 11130px;
	background: #FFFFFF;
	}

#heibei01 {
	z-index:0;
	left:0px;
	height:100%;
	width: 14391px;
	background: #FFFFFF;
	}

#heibei02 {
	z-index:0;
	left:0px;
	height:100%;
	width: 11070px;
	background: #FFFFFF;
	}

img.photato {
	padding: 10px;
}

#1010d {
	z-index:0;
	left:0px;
	height:100%;
	width: 8856px;
	background: #FFFFFF;
}

#1010n {
	z-index:0;
	left:0px;
	height:100%;
	width: 8856px;
	background: #FFFFFF;
}

/* +1107px for gallery per photo */
/*if you're reading this; hi, hmu if you can help me with a bit of html, i'd appreciate it, ta.*/