/*
design/style help from dan and iggy - thanks fellas 
*/

* {
	font: georgia serif;
	-webkit-overflow-scrolling: touch;
}

.outer::-webkit-scrollbar {
	display: none;
	width: 0 !important;
}

#display::-webkit-scrollbar {
	display: none;
	width: 0 !important;
}

body {
	overflow: hidden;
}

#menu {
	height: 22pt;
	width: 100%;
	z-index: 2;
	background-color: #FFF;
	opacity: 0.9;
	margin-top: 0px;
	overflow: hidden;
	position: fixed;
	padding-top: 18px;
	top: 0;
}

a {
	text-decoration: none;
	color: #333;
}

p {
	color: #333;
}

p.subheading {
	text-indent: 43px;
}

a.menuitem {
	float: left;
	position: relative;
	font-size: 12pt;
	text-indent: 22px;
}

a.submenuitem {
	float: left;
	position: relative;
	font-size: 10pt;
	text-indent: 22px;
	padding: 1pt
}

img {
	padding: 10px;
}

#submenu {
	height: 95%;
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: 2;
	background-color: #FFF;
	opacity: 0.9;
}

#submenu a, p {
	text-indent: 22pt;
	font-size: 10pt;
}

#submenu p a {
	display: block;
	width: 98.5%;
	height:300px;
	background-size: cover;
	border: 2px solid #EEE;
	text-align:center;
	font-size: 20pt;
}

#display {
	z-index:0;
	width: 100%;
	padding-left: 20px;
	background: #FFF;
	font-size: 10pt;
	position: absolute;
	overflow: hidden;
}

.video {
	margin-top: 42px;
	position: relative;
}

#display p {
	cursor:default;
	padding-left: 38px;
	text-align: left;
	text-indent: 0px;
}

.outer {
	overflow: scroll;
	padding-left: 12px;
	margin-top: 42px;
	-webkit-overflow-scrolling: touch;
}

#n-i-16 {
	z-index:0;
	left:0px;
	height:100%;
	width: 13100px;
	overflow-y: hidden;
	background-color: #FFF;
}

#hebei01 {
	z-index:0;
	left:0px;
	height:100%;
	width: 15280px;
	background: #FFF;
}

#hebei02 {
	z-index:0;
	left:0px;
	height:100%;
	width: 6240px;
	background: #FFF;
}

#d1010 {
	z-index:0;
	left:0px;
	height:100%;
	width: 3620px;
	overflow-y: hidden;
	background-color: #FFF;
}

#n1010 {
	z-index:0;
	left:0px;
	height:100%;
	width: 3620px;
	overflow-y: hidden;
	background-color: #FFF;
}

#akl-kef {
	width: 10920px;
	z-index:0;
	left:0px;
	height:100%;
	overflow-y: hidden;
	background-color: #FFF;
}

#portraits {
	z-index:0;
	left:0px;
	height:100%;
	width: 10920px;
	background: #FFF;
}

#n-i-17 {
	z-index:0;
	left:0px;
	height:100%;
	width: 8740px;
	overflow-y: hidden;
	background-color: #FFF;
}

#s-i-17 {
	z-index:0;
	left:0px;
	height:100%;
	width: 12000px;
	overflow-y: hidden;
	background-color: #FFF;
}



/* 1090px for each img added */