/*
massive thank you to dan and igor as inspo - check their work out on zerotwelve.co.uk and igorolenev.com
*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i');

html, body, div {
	background-color: #fff;
}

@media (min-width:768px) {
	.title {
		z-index: 3;
		position: fixed;
		text-decoration: none;
		background-color: #3d3d3d;
		border: 2px solid #fff;
		padding: 4px 15px 0px 15px;
		margin-top: 10px;
		margin-left: 50px;
	}

	.title h2 {
		font-family: "Lato";
		color: #fff;
	}

	.title:hover {
		text-decoration: none;
	}
}

@media (min-width:0px) and (max-width:768px) {
	.title {
		z-index: 3;
		position: fixed;
		text-decoration: none;
		background-color: #3d3d3d;
		border: 2px solid #fff;
		padding: 4px 15px 0px 15px;
		margin-top: 10px;
		margin-left: 10px;
	}

	.title h2 {
		font-family: "Lato";
		color: #fff;
	}

	.title:hover {
		text-decoration: none;
	}
}

.drop_menu {
	opacity: 0.9;
	background:#333;
	padding:0;
	margin:0;
	list-style-type:none;
	height:45px;
	width: 150px;
	top: 15px;
	left: 250px;
	position: fixed;
	z-index: 2;
}

.drop_menu li { 
	float:left; 
	font-family: "Lato";
	font-size: 12pt;
	font-style: italic;
	color: #eee;
	padding: 10px;
}

.drop_menu li a {
	display:block;
	color:#fff;
	text-decoration:none;
}

/* Submenu */
.drop_menu ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
}

.drop_menu li:hover, .drop_menu li:active { 
	position:relative; background:#333; 
	cursor: default;
}

.drop_menu li:hover ul {
	left:0px;
	top:30px;
	background:#333;
	padding:0px;
}

.drop_menu li:hover ul li a, .drop_menu li:active ul li a {
	padding:5px;
	display:block;
	width:120px;
	text-indent:15px;
}

.menubar {
	background-color: #3d3d3d;
	height: 100vh;
	display: block;
	position: fixed;
	z-index: 2;
	min-width: 150px;
	max-width: 15vw;
	overflow: hidden;
}

.menubar ul {
	list-style: none;
	font-family: "Lato";
	font-size: 12pt;
	font-style: italic;
	position: relative;
	top: 120px;
	text-align: center;
	padding-left: 0px;
	background-color: #3d3d3d;
}

.menubar ul li {
	color: #eee;
}

.menubar ul li a {
	color: #eee;
	text-decoration: none;
}
.menubar ul li a:hover {
	text-decoration: none;
}

.photo {
	top: 25vh;
}

.homeimg {
	position: fixed;
	z-index: 1;
	top: 85px;
	left: 180px;
	height: 600px;
}

.photomenu {
	position: absolute;
	z-index: 2;
	left: 150px;
	top: 100px;
	background-color: #3d3d3d;
}

.photomenu ul {
	padding-top: 10px;
	list-style: none;
	width: 200px;
	font-family: "Lato";
	font-size: 12pt;
	font-style: italic;
	text-align: center;
	padding-left: 0px;
	background-color: #3d3d3d;
}

.photomenu ul li a {
	color: #fff;
	text-decoration: none;
}

.photomenu ul li {
	color: #fff;
	text-decoration: none;
}

.photomenu ul li a:hover {
	color: #eee;
	text-decoration: none;
}

.webmenu {
	position: absolute;
	width: 100px;
	z-index: 2;
	left: 150px;
	top: 180px;
	background-color: #3d3d3d;
}

.webmenu ul {
	padding-top: 10px;
	list-style: none;
	width: 100px;
	font-family: "Lato";
	font-size: 12pt;
	font-style: italic;
	text-align: center;
	padding-left: 0px;
	background-color: #3d3d3d;
	margin-top: 10px;
}

.webmenu ul li a {
	color: #fff;
	text-decoration: none;
}

.webmenu ul li {
	color: #fff;
	text-decoration: none;
}

.webmenu ul li a:hover {
	color: #eee;
	text-decoration: none;
}

/* ----------- */
/* galleries  */
/* ----------- */
@media (min-width: 768px) {
	div img {
		padding-right: 20px;
		padding-top: 10px;
		height: 600px;
		z-index: 1;
		position: relative;
		top: 65px;
		left: 172px;
		overflow-y: hidden;
	}

	.d1010 {
		width: 3595px;
		height: 100%;
	}

	.n1010 {
		width: 3220px;
		height: 100%;
	}

	.kef {
		width: 13000px;
		height: 100%;
	}

	.n-i {
		width: 13000px;
		height: 100%;
	}

	.s-i {
		width: 18400px;
		height: 100%;
	}

	.hebei01 {
		width: 14000px;
		height: 100%;
	}

	.hebei02 {
		width: 5550px;
		height: 100%;
	}

	.gor {
		width: 15150px;
		height: 100%;
	}

	.gbi {
		width: 7400px;
		height: 100%;
	}

	.sdc {
		width: 11920px;
		height: 100%;
	}

	.seoul { 
		width: 20460px;
		height: 100%;
	}

	.interior {
		width: 6500px;
		height: 100%;
	}

	.portraits {
		width: 10800px;
		height: 100%;
	}
}

@media (max-width:768px) and (min-width:0px) {
	div img {
		width: 100%;
		z-index: 1;
		padding:10px;
		top:65px;
		position: relative;
	}
}

/* ------------ */
/* about / contact */
/* ------------ */
@media (min-width: 768px) {
	.about, .contact {
		top: 120px;
		font-family: "Lato";
		text-decoration: none;
		font-size: 9pt;
		top: 100px;
		left: 190px;
		position: fixed;
		color: #333;
	}

	.contact p a, contact p a:hover  {
		text-decoration: none;
		color: #3d3d3d;
		cursor: pointer;
	}

	.about ul {
		list-style: none;
		padding: 0px;
	}

	input, textarea, #submit {
		border-bottom: 1px solid #333;
		border-top: none;
		border-left: 1px solid #333;
		border-right: none;
		box-shadow: none;
	}

	#submit {
		padding: 3px;
	}

	#contact #submit:hover {
		cursor: pointer;	
	}

	#body {
		width: 300px;
		height: 100px;
	}
}

@media (min-width:0px) and (max-width:768px) {
	.about, .contact {
		top: 120px;
		font-family: "Lato";
		text-decoration: none;
		font-size: 9pt;
		top: 150px;
		left: 90px;
		position: fixed;
		color: #333;
	}

	.contact p a, contact p a:hover  {
		text-decoration: none;
		color: #3d3d3d;
		cursor: pointer;
	}

	.about ul {
		list-style: none;
		padding: 0px;
	}

	input, textarea, #submit {
		border-bottom: 1px solid #333;
		border-top: none;
		border-left: 1px solid #333;
		border-right: none;
		box-shadow: none;
	}

	#submit {
		padding: 3px;
	}

	#contact #submit:hover {
		cursor: pointer;	
	}

	#body {
		width: 300px;
		height: 100px;
	}
}