/*
if you've made it this far it's probably for the code or photos - 
in which case, feel free to use either with credit given; 
a link to my website or instagram.

ta.
*/

@font-face {
	font-family: "Lato";
	src: url("http://omimanav.com/fonts/lato/Lato-Light.ttf");
}

* {
	-webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

html {
	font-family: "Lato", sans-serif !important;
	color: #efefef;
	cursor: default;
	background-color: #222;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

/*normal screens*/
@media (min-width:800px) {
	* {
		overflow-y: hidden;
	}

	body {
		text-align: center;
		padding: 0px;
		margin: 0px;
		top: 0;
		height: 100vh;
		width: 100vw;
		background-image: url(http://omimanav.com/img/home-lg.jpg);
		background-size: cover;
		background-position: center right;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	
	.menuContainer {
		opacity: 0.8;
		width: 100%;
		top: 0;
		left: 0;
		padding: 5px;
		position: fixed;
		z-index: 4;
	}
	
	.menu {
		text-align: center;
	}
	
	.menuItem {
		display: inline;
	}
	
	.menuItem .title {
		font-size: 28pt;
		color: #efefef;
	} 
	
	.menuItem .title:hover {
		font-size: 28pt;
	}
	
	.menuItem a:hover {
		cursor: pointer;
		color: #efefef;
		text-shadow: 0 0 10px #efefef;
		border-top: 5px solid #efefef;
	}
	
	.menuItem a {
		padding: 10px;
		color: #efefef;
		text-decoration: none;
		font-size: 20pt;
	}
	
	.workOverlay {
		background-image: url(http://omimanav.com/img/home-lg.jpg);
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
		background-attachment: fixed;
		width: 100vw;
		height:100vh;
		z-index: 2;
		top: 0;
		left: 0;
		display: inline-block;
	}
	
	.workOverlay ul {
		width: 100%;
		height: 100%;
		position: relative;
	}
	
	.workOverlay > ul > li {
		width: 50%;
		height: 100%;
		float: left;
		opacity: 0.8;
	}
	
	.workOverlay a {
		text-decoration: none;
		font-size: 18pt;
	}
	
	.workOverlay > ul > li:hover > a {
		line-height: 20vh;
	}
	
	.menuDesign, .menuPhotos {
		display: none;
	}

	.menuDesign *, .workOverlay > ul > li:nth-child(2) {
		text-align: left;
	} 

	.menuPhotos *, .workOverlay > ul > li:nth-child(1) {
		text-align: right;
	}
	
	.menuDesign, .menuPhotos, .workOverlay > ul > li {
		background-color: #222;
	}

	.menuDesign a, .menuPhotos a, .workOverlay > ul > li {
		color: #efefef;
	}

	.menuDesign a:hover, .menuPhotos a:hover {
		text-shadow: 0 0 3px #fff;
	}

	.menuDesign a:hover {
		border-right: 10px solid #efefef;
	}

	.menuPhotos a:hover {
		border-left: 10px solid #efefef;
	}

	.workOverlay > ul > li > a {
		position: relative;
		line-height: 100vh;
		top: 0;
		text-decoration: overline;
	}
	
	.workOverlay > ul li:hover .menuDesign, .workOverlay > ul li:hover .menuPhotos {
		display: block;
		position: relative;
		height: 80vh;
	}
	
	.aboutContainer {
		position: relative;
    	width: 100vw;
		height: 100vh;
		padding-left: 25vw;
		padding-top: 5vh;
	}
	
	.about a {
		color: #efefef;
	}
	
	.about {
		text-align: left;
	}
	
	.galleryBody {
		background-image: none;
		background-color: #1f1f1f;
	}

	div img {
		left: 15px;
		padding-right: 15px;
		height: 600px;
		z-index: 1;
		float: left;
		top: 10vh;
		overflow-y: hidden;
		position: relative;
	}
	
	.d1010, .n1010, .kef, .n-i, .s-i, .hebei01, .hebei02, .gor, .dxb, .ind, .gbi, .sdc, .seoul, .interior, .portraits {
		height: 100%;
		overflow-x: hidden;
	}
	
	footer {
		position: fixed;
		width: 100vw;
		bottom: 0;
		cursor: default;
		text-align: center;
	}
	
	footer p {
		width: 100vw;
		font-size: 9pt;
	}
	
	footer * {
		text-decoration: none;
		color: #efefef;
	}
}

/*small screens*/
@media (max-width:800px) {
	footer {
		position: fixed;
		width: 100vw;
		bottom: 0;
		cursor: default;
		text-align: center;
		z-index: 9;
	}
	
	footer p {
		width: 100vw;
		font-size: 8pt;
	}
	
	footer * {
		text-decoration: none;
		color: #333;
	}
	
	body {
		background-image: url(http://omimanav.com/img/home-lg.jpg);
		background-position: bottom;
		background-size:cover;
		background-attachment:fixed;
		background-repeat:no-repeat;
		text-align: center;
		padding: 0px;
		margin: 0px;
		height: 100vh;
	}
	
	.menuContainer {
		width: 100vw;
		left: 0;
		position: fixed;
		z-index: 4;
		background-color: rgba(222,222,222,0.8);
		top: 0;
		height: 100vh;
	}
	
	.hide {
		display: none;
	}
	
	.menu {
		text-align: center;
		height: 100vh;
	}
	
	.menuItem {
		line-height: 30vh;
	}
	
	.menuItem .title {
		font-size: 28pt;
		color: #222;
	} 
	
	.menuItem a {
		color: #222;
		text-decoration: none;
		font-size: 20pt;
	}
	
	.workOverlay {
		position: relative;
		z-index: 4;
		top: 20vh;
		width: 100vw;
		display: inline-block;
	}
	
	.menuPhotos, .menuDesign {
		padding: 10px;
		height: 100%;
	}
	
	.menuPhotos li, .menuDesign li {
		padding: 10px;
	}
	
	.workOverlay > ul > li > a {
		text-decoration: line-through;
	}
	
	.menuPhotos a, .menuDesign a {
		text-decoration: none;
		color: #222;
	}
	
	.aboutContainer {
		position: absolute;
		z-index: 4;
		padding: 10px;
		top: 20vh;
	}
	
	.about {
		width: 100vw;
		margin: 0px auto;
		text-align: center;
		color: #1f1f1f;
	}
	
	.aboutImg {
		display: none;
	}
	
	.about a {
		text-decoration: none;
		color: #222;
	}
	
	div > img {
		position: relative;
		z-index: 4;
		top: 120px;
		width: 97vw;
		margin: 0 auto;
		padding-bottom: 5px;
	}
	
	.galleryBody {
		background-image: none;
		background-color: #1f1f1f;
	}
}
