@import url('https://fonts.googleapis.com/css?family=Lato:300,300i');

* {
	-webkit-transition: 0.1s linear;
    transition: 0.1s linear;
}

html {
	font-family: "Lato", sans-serif;
	color: #333;
	cursor: default;
	background-image: url("http://beerandcamera.com/img/bg.jpg");
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: center;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

/*normal screens*/
@media (min-width:800px) {
	body {
		text-align: center;
		padding: 0px;
		margin: 0px;
	}
	
	.menuContainer {
		opacity: 0.8;
		width: 100%;
		top: 0;
		left: 0;
		padding: 5px;
		position: fixed;
		z-index: 4;
	}
	
	.menu {
		text-align: center;
	}
	
	.menuItem {
		padding: 5px;
		display: inline;
	}
	
	.menuItem .title {
		font-size: 28pt;
		color: #333;
	} 
	
	.menuItem .title:hover {
		font-size: 28pt;
	}
	
	.menuItem a:hover {
		cursor: pointer;
		color: #333;
		font-size: 24pt;
	}
	
	.menuItem a {
		color: #333;
		text-decoration: none;
		font-size: 20pt;
	}
	
	.homeImg {
		margin-top: 6%;
		top: 0;
		left: 0;
	}
	
	.workOverlay {
		background-image: url(http://beerandcamera.com/img/home.jpg);
		width: 100vw;
		height:100vh;
		max-height: 600px;
		max-width: 1067px;
		z-index: 2;
		margin-top: 6%;
		top: 0;
		left: 0;
		display: inline-block;
	}
	
	.workOverlay ul {
		width: 100%;
		height: 600px;
		position: relative;
		text-align: center;
	}
	
	.workOverlay > ul > li {
		width: 50%;
		height: 100%;
		float: left;
		background-color: #ddd;
		opacity: 0.8;
	}
	
	.workOverlay a {
		text-decoration: none;
		color: #333;
		font-size: 18pt;
	}
	
	.workOverlay > ul li:hover {
		background-color: #333; 
	}
	
	.workOverlay > ul li:hover a {
		color: #ddd;
		top: 50px;
	}
	
	.menuDesign, .menuPhotos {
		display: none;
		top: 80px;
		height: 80px;
	}
	
	.workOverlay > ul > li > a {
		position: relative;
		top: 200px;
		text-decoration: overline;
	}
	
	.workOverlay > ul li:hover .menuDesign, .workOverlay > ul li:hover .menuPhotos {
		display: block;
		position: relative;
		height: 82%;
	}
	
	.aboutContainer {
		position: relative;
		margin: auto;
    	width: 50%;
		top: 50px;
		overflow: hidden;
	}
	
	.about a {
		color: #333;
	}
	
	.about {
		text-align: left;
	}
	
	.aboutImg {
		position: relative;
		height: 500px;
	}
	
	div img {
		left: 5px;
		padding-right: 5px;
		height: 600px;
		z-index: 1;
		float: left;
		top: 65px;
		overflow-y: hidden;
		position: relative;
	}
	
	.d1010 {
		width: 3595px;
		height: 100%;
	}

	.n1010 {
		width: 3220px;
		height: 100%;
	}

	.kef {
		width: 13000px;
		height: 100%;
	}

	.n-i {
		width: 13000px;
		height: 100%;
	}

	.s-i {
		width: 18400px;
		height: 100%;
	}

	.hebei01 {
		width: 14000px;
		height: 100%;
	}

	.hebei02 {
		width: 5550px;
		height: 100%;
	}

	.gor {
		width: 15150px;
		height: 100%;
	}
	
	.dxb {
		width: 15150px;
		height: 100%;
	}
	
	.ind {
		width: 15150px;
		height: 100%;
	}

	.gbi {
		width: 7400px;
		height: 100%;
	}

	.sdc {
		width: 11920px;
		height: 100%;
	}

	.seoul { 
		width: 20460px;
		height: 100%;
	}

	.interior {
		width: 6500px;
		height: 100%;
	}

	.portraits {
		width: 10800px;
		height: 100%;
	}
	
	footer {
		position: fixed;
		width: 100vw;
		bottom: 0;
		cursor: default;
		text-align: center;
	}
	
	footer p {
		width: 100vw;
		font-size: 10pt;
	}
	
	footer * {
		text-decoration: none;
		color: #333;
	}
}

/*small screens*/
@media (max-width:800px) {
	footer {
		position: fixed;
		width: 100vw;
		bottom: 0;
		cursor: default;
		text-align: center;
		z-index: 9;
	}
	
	footer p {
		width: 100vw;
		font-size: 10pt;
	}
	
	footer * {
		text-decoration: none;
		color: #333;
	}
	
	body {
		background-image: url(http://beerandcamera.com/img/home.jpg);
		background-position: center;
		background-size:cover;
		background-attachment:fixed;
		background-repeat:no-repeat;
		text-align: center;
		padding: 0px;
		margin: 0px;
	}
	
	.menuContainer {
		opacity: 0.9;
		width: 100%;
		left: 0;
		position: fixed;
		z-index: 4;
		background-color: #efefef;
		top: 0;
		height: 100%;
	}
	
	.hide {
		display: none;
	}
	
	.menu {
		text-align: center;
		height: 100%;
	}
	
	.menuItem {
		padding-top: 15%;
		padding-bottom: 50px;
	}
	
	.menuItem .title {
		font-size: 28pt;
		color: #333;
	} 
	
	.menuItem .title:hover {
		font-size: 30pt;
	}
	
	.menuItem a:hover {
		cursor: pointer;
		color: #333;
		font-size: 24pt;
	}
	
	.menuItem a {
		color: #333;
		text-decoration: none;
		font-size: 20pt;
	}
	
	.homeImg {
		display: none;
	}
	
	.workOverlay {
		position: relative;
		z-index: 4;
		top: 100px;
		width: 100%;
	}
	
	.menuPhotos, .menuDesign {
		padding: 10px;
	}
	
	.menuPhotos li, .menuDesign li {
		padding: 10px;
	}
	
	.workOverlay > ul > li > a {
		text-decoration: line-through;
	}
	
	.menuPhotos a, .menuDesign a {
		text-decoration: none;
		color: #333;
	}
	
	.aboutContainer {
		position: absolute;
		z-index: 4;
		padding: 10px;
		top: 100px;
	}
	
	.about {
		width: 100%;
		margin: 0px auto;
		text-align: left;
	}
	
	.aboutImg {
		display: none;
	}
	
	.about a {
		text-decoration: none;
		color: #333;
	}
	
	div > img {
		position: relative;
		z-index: 4;
		top: 120px;
		width: 97%;
		margin: 0 auto;
		padding-bottom: 5px;
	}
	
	.galleryBody {
		background-image: none;
	}
}