/* desktop and ipad friendly */
@media (min-width:800px) {
	#main {
		backdrop-filter: contrast(0.5) blur(1px);
		-webkit-backdrop-filter: contrast(0.8) blur(1px);
	}

	#about {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
		justify-self: center;
		justify-items: center;
		align-items: center;
		width: 80%;
		height: 100%;
	}

	#map {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 2;
		height: 100%;
		width: 80%;
	}

	#hours {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;
		padding: 10px;
		height: 80%;
		width: 80%;

		cursor: default;
		border-radius: 15px;
		color: #fefefe;
		background: linear-gradient(310deg, #c10000dd, #eb5151dd);
		font-weight: bold;
		font-size: 2vmin;
	} #hours ::selection {
		background-color: #fefefe;
		color: #c10000;
	} #hours th:nth-child(1) {
		width: 30%;
	} #hours th:nth-child(2) {
		width: 30%;
	} #hours th:nth-child(3) {
		width: 40%;
	}
	
	#info {
		display: grid;
		grid-template-rows: 10% auto auto auto;
		grid-row-start: 1;
		grid-row-end: 3;
		grid-column-start: 2;
		grid-column-end: 3;
		width: 90%;
		height: 95%;
		overflow-y: auto;

		padding: 0 15px;
		border-radius: 15px;
		background: linear-gradient(310deg, #ebeaeafa, #fff8f8f9);
	} #info ::selection {
		background-color: #c10000;
		color: #fefefe;
	}
	
	#options {
		display: grid;
		position: sticky;
		top: 0;
		z-index: 2;
		grid-template-columns: auto auto auto;
		justify-items: center;
		align-content: center;
		justify-content: center;
		column-gap: 10px;
		grid-row-start: 1;
		grid-row-end: 2;
		padding: 35px;

		background: linear-gradient(340deg, #dadada22, #fff8f822);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
	}	#options a {
		padding: 10px;
		
		color: #c10000;
		font-size: 2vmin;
		font-weight: bold;
		border-radius: 5px;
		box-shadow: 3px 3px 10px #d3d3d3, -2px -2px 5px #ececec;
		background: linear-gradient(340deg, #dadadaf9, #fff8f8f9);
	} #options a:active {
		background: linear-gradient(310deg, #c10000dd, #cf3d3ddd);
		color: #fefefe;
		box-shadow: none;
	} .infoCards {
		position: relative;
		z-index: 1;
	} .infoCards hr {
		margin-top: 20%;
		padding: 0;
		width: 80%;

		border: 1px solid #c10000;
	}

	#contact {
		display: grid;
		grid-template-rows: auto auto;
		justify-self: center;
		text-align: center;
		
		font-size: 2.5vmin;
	} #contact a {
		color: #c10000;
	} #contact th {
		color: #c10000;
	} #contact h2 {
		padding: 0;
		margin: 0;
	
		font-size: 3vmin;
		letter-spacing: 2px;
		color: #c10000;
	}
	
	#service {
		display: grid;
		grid-template-rows: auto auto auto auto;
	} #service > h2 {
		padding: 0;
		margin: 0;
		justify-self: center;

		font-size: 3vmin;
		letter-spacing: 2px;
		color: #c10000;
	} .serviceCards {
		display: grid;
		grid-template-columns: 30% 70%;
		grid-template-rows: 10% 90%;
	} .serviceCards img {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 3;
		align-self: center;
		width: 90%;
		height: auto;

		border: 2px solid #c10000;
	} .serviceCards h2 {
		padding: 0;
		margin: 0;
		
		font-size: 3vmin; 
		letter-spacing: 2px;
		color: #c10000;
	} .serviceCards p {
		font-family: "Lora", serif;
		font-size: 2.3vmin;
	} .serviceCards a {
		color: #c10000;
	}
}

#history {
	display: grid;
	grid-template-rows: auto auto auto auto;
	align-items: center;
	justify-items: center;
} #history img {
	width: 50%;
	grid-row-start: 3;
	grid-row-end: 4;
} #history h2 {
	text-align: left;
	padding: 0;
	margin: 0;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;

	font-size: 3vmin;
	letter-spacing: 2px;
	color: #c10000;
} #history p {
	grid-row-start: 4;
	grid-row-end: 5;
	font-family: "Lora", serif;
	font-size: 2.3vmin;
} #history hr {
	grid-row-start: 1;
	grid-row-end: 2;
}

/* ------------------------------------------------------- */
/* phones and portait view friendly */
@media (max-width:800px) {
	::-webkit-scrollbar {
		width: 0px;
	}

	#logo {

	}

	#main {
		row-gap: 20px;
		align-content: center;
	}

	#about {
		display: grid;
		max-width: 100%;
		grid-template-rows: auto auto auto auto;
		row-gap: 15px;
	}
	
	#hours {
		grid-row-start: 1;
		grid-row-end: 2;
		justify-self: center;
		padding: 10px;
		width: 85%;
		
		border-radius: 10px;
		color: #fefefe;
		background: linear-gradient(310deg, #c10000dd, #eb5151dd);
		font-weight: bold;
		font-size: 3vmin;
	} #hours th:nth-child(1) {
		width: 30%;
	} #hours th:nth-child(2) {
		width: 20%;
	} #hours th:nth-child(3) {
		width: 50%;
	}
	
	#map {
		grid-row-start: 2;
		grid-row-end: 3;
		justify-self: center;
	}
	
	#info {
		display: grid;
		grid-template-rows: 10% auto auto auto;
		justify-self: center;
		grid-row-start: 3;
		grid-row-end: 4;
		max-width: 90%;

		padding: 0 15px;
		border-radius: 15px;
		background: linear-gradient(310deg, #ebeaeafa, #fff8f8f9);
	} #options {
		display: none;
	}

	.infoCards hr {
		margin-top: 20%;
		padding: 0;
		width: 80%;
		height: 0px;

		border: 1px solid #c10000;
	}

	#contact {
		display: grid;
		grid-template-rows: auto auto;
		justify-self: center;
		align-self: center;
		text-align: center;
		
		font-size: 3.5vmin;
	} #contact table {
		align-self: center;
		justify-self: center;
	} #contact a {
		color: #c10000;
	} #contact th {
		color: #c10000;
	} #contact h2 {
		padding: 0;
		margin: 0;
	
		font-size: 4vmin;
		letter-spacing: 2px;
		color: #c10000;
	}

	#service {
		display: grid;
		grid-template-rows: auto auto auto auto;
		row-gap: 15px;
	} #service > h2 {
		padding: 0;
		margin: 0;
		justify-self: center;

		font-size: 4vmin;
		letter-spacing: 2px;
		color: #c10000;
	} .serviceCards {
		display: grid;
	} .serviceCards img {
		grid-row-start: 2;
		grid-row-start: 3;
		align-self: center;
		justify-self: center;
		width: 90%;
		height: auto;

		border: 2px solid #c10000;
	} .serviceCards h2 {
		padding: 0;
		margin: 0;
		
		font-size: 4vmin; 
		letter-spacing: 2px;
		color: #c10000;
	} .serviceCards p {
		font-family: "Lora", serif;
		font-size: 3.5vmin;
	} .serviceCards a {
		color: #c10000;
	} #serviceGap {
		display: none;
	}

	#history {
		display: grid;
		grid-template-columns: 75% 25%;
		grid-template-rows: auto auto auto;
		align-items: center;
		justify-items: center;
		text-align: justify;
		padding-bottom: 50px;
	} #history img {
		width: 80%;
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
	} #history h2 {
		padding: 0;
		margin: 0;
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
	
		font-size: 4vmin;
		letter-spacing: 2px;
		color: #c10000;
	} #history p {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;
		font-family: "Lora", serif;
		font-size: 3.5vmin;
	} #history hr {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 3;
		width: 90%;
	}
	
	#footer {
		display: none;
	}
}