/* desktop and ipad friendly */
@media (min-width:800px) {
	#main {
		backdrop-filter: contrast(0.5) blur(1px);
		-webkit-backdrop-filter: contrast(0.8) blur(1px);
	}

	#food {
		display: grid;
		justify-self: center;
		align-self: center;
		align-content: center;
		justify-items: center;
		height: 80%;

		border-radius: 20px;
		row-gap: 10px;
		column-gap: 70px;
		padding: 0px 20px 0px 20px;
	} #food .serviceTitle {
		font-size: 1.7vw;
		display: grid;
		justify-content: center;
		align-items: center;
		padding: 15px;
		column-gap: 5px;

		border-radius: 10px;
		color: #eee;
		background: linear-gradient(310deg, #d22b2bea, #bd3d3dea);
	} #food .serviceTitle u {
		grid-column: 2 / span 1;
	} #food .serviceTitle img {
		grid-column: 1 / span 1;
		height: 100%;
	} #food .serviceTitle:nth-child(1) { /* pick up title */
		width: 80%;
		grid-column: 1 / 2;
	} #food .serviceTitle:nth-child(2) { /* delivery title */
		width: 80%;
		grid-column: 2 / 3;
	} #food .service {
		display: grid;
		align-content: center;
		padding: 10px;

		border-radius: 20px;
		background: linear-gradient(310deg, #cacacaf9, #ffefeff9);
		box-shadow: 5px 5px 15px #a88b8b, -5px 5px 15px #f0c5c5;
	} #food .service:hover {
		cursor: pointer;
		box-shadow: 3px 3px 10px #aa9494, -3px 3px 10px #c9a7a7;
	} #food .service:nth-child(3) { /* UEAT */
		grid-row: 2 / 4;
		grid-column: 1 / 2;
	} #food .service:nth-child(4) { /* Uber Eats */
		grid-row: 2 / 3;
		grid-column: 2 / 3;
	} #food .service:nth-child(5) { /* DoorDash */
		grid-row: 3 / 4;
		grid-column: 2 / 3;
	} #food .service img {
		max-width: 400px;
		width: 20vw;
		height: auto;
	}
}

/* ------------------------------------------------------- */
/* phones and portrait view friendly */
@media (max-width:800px) {
	/* iphone testing is silly, no content on food or homepage that needs to scroll so keeping it static */
	body {
		overflow: hidden;
	}

	#food {
		display: grid;
		grid-template-rows: 15% 17% 17% 15% 25%;
		justify-self: center;
		align-self: center;
		align-content: center;
		justify-items: center;
		row-gap: 10px;
		height: 100%;
		width: 80vw;
	} #food .serviceTitle {
		font-size: 3vh;
		display: grid;
		grid-template-columns: 30% auto;
		justify-content: left;
		align-items: center;
		padding: 10px;
		width: 100%;

		border-radius: 10px;
		color: #eee;
		background: linear-gradient(310deg, #d22b2bea, #bd3d3dea);
	} #food .serviceTitle:nth-child(1) {
		grid-row-start: 4;
		grid-row-end: 5;
	} #food .serviceTitle:nth-child(2) {
		grid-row-start: 1;
		grid-row-end: 2;
	} #food .serviceTitle img {
		justify-self: center;
		height: 100%;
		grid-column-start: 1;
		grid-column-end: 2;
	} #food .serviceTitle u {
		grid-column-start: 2; 
		grid-column-end: 3; 
	} #food .service {
		display: grid;
		align-content: center;
		justify-items: center;
		padding: 5px;
		width: 100%;
		
		border-radius: 20px;
		background: linear-gradient(310deg, #cacacaf9, #ffefeff9);
		box-shadow: 5px 5px 10px #c28e8e, -5px 5px 10px #f0c5c5;
	} #food .service:nth-child(3) {
		grid-row-start: 5;
		grid-row-end: 6;
	} #food .service:nth-child(4) {
		grid-row-start: 2;
		grid-row-end: 3;
	} #food .service:nth-child(5) {
		grid-row-start: 3;
		grid-row-end: 4;
	} #food .service img {
		height: 100%;
	}
}