/* 
- this site is using css-grid for layout
and screensize for device's viewport identification
- will be assumed to be desktop/tablet > width: 768px > will be assumed to be mobile device
- no javascript except google analytics, noscript user-base is growing...
- basic formatting for my css:
section {
	positioning
	dimensions

	cosmetics
} section (child) {
	positioning
	dimensions

	cosmetics
}
for a max depth of 3 children, then a new section (sibling) will begin; keeps code clean, compact, comprehensible

main.css is present in all pages
menu.css is for the homepage
food.css is for the food service page
about.css is for the about page 
*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');
/* show a little animation */
* {
	transition-duration: 0.1s;
}

a, a:visited {
	text-decoration: none;
	color: #eee;
}

#main {
	position: absolute;
	display: grid;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	font-family: "Barlow", sans-serif;
}

/* desktop and ipad friendly */
@media (min-width:768px) {
	body {
		top: 0;
		left: 0;
		padding: 0;
		margin: 0;
		width: 100vw;
		height: 100vh;
	
		background-color: #fcafaf;
		background-image: url("../assets/bg.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	/* parent container for all content */
	#main {
		grid-template-rows: 20% 70% 10%;
		align-content: center;

		backdrop-filter: contrast(0.7);
		-webkit-backdrop-filter: contrast(0.7);
	}
	
	/* header containing logo */
	#logo {
		align-self: center;
		justify-self: center;
		height: 90%;
	} #logo img {
		height: 100%;
	} #logo:hover {
		height: 95%;
	}
	
	/* footer with social media */
	#footer {
		display: grid;
		background: linear-gradient(300deg, #e7e7e7f3, #ebebebf3);
		grid-template-columns: 84px 84px;
		justify-content: center;
		align-self: center;
		justify-self: center;
		padding: 5px;
		max-height: 84px;
		
		border-radius: 15px;
	} #footer .social {
		text-align: center;
		max-width: 84px;
	} #footer .social img {
		width: 5vh;
	}
}
/* ------------------------------------------------------- */
/* phones and landscape view friendly */
@media (max-width:768px) {
	body {
		overflow: hidden;
		top: 0;
		left: 0;
		padding: 0;
		margin: 0;
		width: 100vw;
		height: 100vh;
	
		background-color: #fcafaf;
		background-image: url("../assets/bg.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	/* parent container for all content */
	#main {
		grid-template-rows: 30% 50% 10%;
		align-content: center;
		justify-items: center;
	}
	
	/* header containing logo */
	#logo {
		height: 90%;
	} #logo img {
		height: 100%;
	}

	/* footer with social media */
	#footer {
		display: grid;
		grid-template-columns: 84px 84px;
		justify-content: center;
		align-self: center;
	} #footer .social {
		text-align: center;
		max-width: 84px;
	} #footer .social img {
		width: 60%;
	}
}

