/* 
- this site is using css-grid for layout
and screensize for device's viewport identification
- will be assumed to be desktop/tablet > width: 800px > will be assumed to be mobile device
- no javascript except google analytics, noscript user-base is growing...
- basic formatting for my css:
section {
	positioning
	dimensions

	cosmetics
} section (child) {
	positioning
	dimensions

	cosmetics
}
for a max depth of 3 children, then a new section (sibling) will begin; keeps code clean, compact, comprehensible

main.css is present in all pages
menu.css is for the homepage
food.css is for the food service page
about.css is for the about page 
*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

/* show a little animation */
* {
	transition-duration: 0.1s;
	-webkit-overflow-scrolling: touch;.
}

::-webkit-scrollbar {
	width: 10px;
	height: 5px;
} ::-webkit-scrollbar-track {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fefefe2d;
} ::-webkit-scrollbar-thumb {
	background-color: #d20000;
} ::-webkit-scrollbar-thumb:hover {
	background-color: #f00000;
}

a, a:visited {
	text-decoration: none;
	color: #eee;
}

#main {
	position: absolute;
	display: grid;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	font-family: "Barlow", sans-serif;
}

/* desktop and ipad friendly */
@media (min-width:800px) {
	body {
		top: 0;
		left: 0;
		padding: 0;
		margin: 0;
		width: 100vw;
		height: 100vh;
	
		background-color: #c71e1e;
		background-image: url("../assets/bg.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	/* parent container for all content */
	#main {
		grid-template-rows: 20% 70% 10%;
		align-content: center;

		backdrop-filter: contrast(0.8);
		-webkit-backdrop-filter: contrast(0.8);
	}
	
	/* header containing logo */
	#logo {
		align-self: center;
		justify-self: center;
		height: 90%;
	} #logo img {
		height: 100%;
	} #logo:hover {
		height: 95%;
	}
	
	/* footer with social media */
	#footer {
		display: grid;
		grid-template-columns: 72px 72px;
		grid-template-rows: 80% 10%;
		justify-content: center;
		align-self: center;
		justify-self: center;
		padding-top: 5px;
		max-height: 64px;
		
		background: linear-gradient(300deg, #e7e7e7f3, #ebebebf3);
		color: #c71010;
		font-weight: 500;
		border-radius: 15px;
	} #footer .social {
		grid-row-start: 1;
		grid-row-end: 2;
		justify-self: center;
		align-self: center;
		max-width: 48px;
	} #footer .social img {
		max-width: 48px;
		width: 5vh;
	} #footer b {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		text-align: center;
		align-self: center;
	}
}
/* ------------------------------------------------------- */
/* phones and portrait view friendly */
@media (max-width:800px) {
	body {
		top: 0;
		left: 0;
		padding: 0;
		margin: 0;
		width: 100vw;

		background: #c71e1e;
	}

	/* parent container for all content */
	#main {
		display: grid;
		padding-top: 5px;
		grid-template-rows: 25% 45% 20%;
		justify-items: center;
		overflow-y: scroll;
		max-width: 100vw;

		background-color: #c71e1e;
		background-image: url("../assets/bg.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-attachment: fixed;
	}
	
	/* header containing logo */
	#logo {
		text-align: center;
		height: 100%;
		width: 100%;
	} #logo img {
		max-width: 40%;
		height: auto;
	}

	/* footer with social media */
	#footer {
		display: grid;
		grid-template-columns: 64px 64px;
		grid-template-rows: 80% 10%;
		justify-content: center;
		align-self: center;
		text-align: center;

		background: linear-gradient(300deg, #e7e7e7f3, #ebebebf3);
		color: #c71010;
		font-weight: 400;
		padding: 5px;
		border-radius: 15px;
	} #footer .social {
		text-align: center;
		max-width: 64px;
	} #footer .social img {
		width: 80%;
	} #footer b {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		text-align: center;
		align-self: center;
	}
}