/* desktop and ipad friendly */
@media (min-width:800px) {
	#menu {
		display: grid;
		justify-self: center;
		justify-content: center;
		grid-template-columns: 30% 40% 30%;
		column-gap: 25px;
		width: 80vw;
		max-height: 1000px;
	} .menuItem {
		display: grid;
		align-self: center;
		grid-template-rows: 20% 30% 30%;
		row-gap: 5px;
		align-content: center;
		align-items: center;
		height: 80%;
		
		color: #fefefe;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 20px;
		background: linear-gradient(310deg, #c10000e0, #cf3d3de0);
		box-shadow: -5px -5px 15px #ce8e8e, 5px 5px 15px #9b2929;
	} .menuItem:hover {
		cursor: pointer;
		box-shadow: -3px -3px 15px #ffb1b1, 3px 3px 15px #c03535;
	} .menuItem:active {
		height: 79%;
		
		cursor: pointer;
		background: linear-gradient(310deg, #c10000ee, #cf3d3dee);
		box-shadow: -0px -0px 0px #ffc3c3, 0px 0px 0px #ff4040;
	} .menuItem .title {
		font-size: 2.5vw;
		font-weight: 700;
		letter-spacing: 7px;
	} .menuItem .subtitle {
		display: grid;
		justify-self: center;
		row-gap: 7%;
		font-size: 1.7vw;
		font-weight: 300;
	} .menuItem .description {
		font-size: 1.5vw;
		justify-self: bottom;
	} .menuItem .service {
		display: grid;
		align-self: center;
		justify-self: center;
		padding: 10px;
		max-width: 50%;

		background-color: #fefefe;
		border-radius: 10px;
	} .menuItem .service:nth-child(1) {
		grid-row: 1;
		grid-column: 1 / span 2;
	} .menuItem .service:nth-child(2) {
		grid-row: 2;
		grid-column: 1 / span 1;
	} .menuItem .service:nth-child(3) {
		grid-row: 2;
		grid-column: 2 / span 1;
	} .menuItem .service img {
		max-width:90%;
		justify-self: center;
	} .menuItem .products:nth-child(1) {
		grid-column: 1 / span 1;
	} .menuItem .products:nth-child(2) {
		grid-column: 2 / span 1;
	} .menuItem .products:nth-child(3) {
		grid-column: 3 / span 1;
	} .menuItem .products img {
		max-width:90%;
		justify-self: center;

		border-radius: 10px;
		border: 5px solid #fefefe;
	}
}

/* ------------------------------------------------------- */
/* phones and portrait view friendly */
@media (max-width:800px) {
	/* iphone testing is silly, no content on food or homepage that needs to scroll so keeping it static */
	body {
		overflow: hidden;
	}

	#menu {
		display: grid;
		grid-template-rows: 30% 40% 30%;
		width: 80vw;
		justify-items: center;
		align-items: center;
	} .menuItem {
		display: grid;
		align-content: center;
		align-items: center;
		height: 80%;
		width: 100%;
		
		color: #fefefe;
		text-align: center;
		border-radius: 20px;
		background: linear-gradient(310deg, #c10000ee, #cf3d3dee);
	} .menuItem:active {
		background: linear-gradient(310deg, #c10000ff, #cf3d3dff);
		box-shadow: -0px -0px 0px #ffc3c3, 0px 0px 0px #ff4040;
	} .menuItem .title {
		font-size: 3vh;
		font-weight: 700;
		letter-spacing: 5px;
	} .menuItem .subtitle {
		display: none;
	} .menuItem .description {
		display: none;
	}
}