@import url('https://fonts.googleapis.com/css?family=Poiret+One');

* {
	transition: 0.2s ease;
	-webkit-transition: 0.2s ease;
}

html {
	font-family: "Poiret One";
	color: #efefef;
	background-image: url("http://beerandcamera.com/img/bg-dark.jpg");
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: center;
}

a {
	text-decoration: none;
	color: #efefef;
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

@media (min-width:800px) {
	footer {
		display: block;
		position: fixed;
		z-index: 9;
		text-align: center;
		width: 100vw;
		height: 24px;
		bottom: 0;
		left: 0;
	}
	
	footer p {
		padding: 0;
		margin: 0;
		position: relative;
		display: block;
		width: 100vw;
		line-height: 24px;
	}
	
	.bar {
		position: fixed;
		z-index: 8;
		display: block;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		text-align: center;
		opacity: 0.7;
	}
	
	.logoContainer {
		position: relative;
		top: 40px;
		left: 0;
		height: 100px;
		width: 100%;
		text-align: center;
		display: block;
	}
	
	#logo {
		position: relative;
		height: 100px;
	}
	
	.menu {
		display: block;
		position: absolute;
		top: 30%;
		width: 100vw;
		z-index: 8;
		text-align: center;
	}
	
	.menu > .menuitem {
		padding-top: 25px;
		font-size: 18pt;
		display: block;
	}
	
	.dd > .menuitem {
		padding-top: 10px;
		display: block;
		font-size: 18pt;
	}
	
	.dd {
		opacity: 0;
		height: 0px;
		visibility: hidden;
		text-align: center;
		margin: 0 auto;
	}
	
	.dd-container {
		margin: 0 auto;
		width: 100px;
		text-align: left;
	}
	
	#dd-checkbox {
		position: absolute;
		z-index: 9;
		height: 24px;
		width: 100px;
		padding: 0;
		display: inline;
		float: left;
		opacity: 0;
	}
	
	input:hover {
		cursor: pointer;
	}
	
	.dd-button {
		position: relative;
		display: block;
		z-index: 8;
	}
	
	#dd-checkbox:checked ~ .dd {
		visibility: visible;
		opacity: 1.0;
		height: 70px;
	}
	
	
}

@media (max-width:800px) {
	footer {
		display: block;
		position: fixed;
		z-index: 9;
		text-align: center;
		width: 100vw;
		height: 20px;
		bottom: 0;
		left: 0;
	}
	
	footer p {
		padding: 0;
		margin: 0;
		position: relative;
		display: block;
		width: 100vw;
		line-height: 20px;
		font-size: 8pt;
	}
	
	.bar {
		text-align: center;
		width: 100%;
	}
	
	.logoContainer {
		position: absolute;
		left: 5px;
		width: 100%;
	}
	
	#logo {
		height: 100px;
	}
	
	.menu {
		position: absolute;
		top: 30%;
		left: 0;
		width: 100%;
	}
	
	#dd-checkbox {
		display: none;
	}
	
	.menu > .menuitem {
		padding-bottom: 25px;
	}
	
	.dd > .menuitem {
		padding-top: 10px;
	}
}