@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,300i');

html {
	font-family: "Ubuntu", sans-serif;
	font-size: 25pt;
	background-color: #222;
	cursor: default;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	color: #fff;
}

@media (min-width:768px) {
	footer {
		position: fixed;
		z-index: 5;
		width: 100%;
		margin: 0;
		padding-bottom: 5px;
		color: #efefef;
		background-color: #222;
		opacity: 0.8;
		bottom: 0;
		left: 0;
		font-size: 10pt;
		text-align: center;
		display: block;
	}
	
	footer img {
		cursor: pointer;
		margin-left: 20px;
		width: 12px;
		height: 12px;
		float: left;
	}
	
	.menubar {
		width: 200px;
		height: 100%;
		margin: 0;
		top: 0;
		padding-left: 10px;
		position: fixed;
		z-index: 2;
	}
	
	.menuitem a {
		text-decoration: none;
		color: #ddd;
		-webkit-transition: 0.1s;
    	transition: 0.1s;
		font-size: 12pt;
	}
	
	.menuitem a:hover {
		-webkit-transition: 0.1s;
    	transition: 0.1s;
		font-size: 12.5pt;
		color: #fefefe;
		padding-left: 5px;
		padding-right: 5px;
		border-right: 1px solid #ddd;
		border-left: 1px solid #ddd;
	}
	
	.submenu a:hover {
		border-right: none;
	}
	
	.title {
		text-align: center;
		border: none;
	}
	
	.title a {
		font-size: 25pt;
		display: block;
	}
	
	.title a:hover {
		display: block;
		color: #fefefe;
		-webkit-transition: 0.1s;
    	transition: 0.1s;
		font-size: 25pt;
		border: none;
	}
	
	.undertitle {
		font-size: 10pt;
		margin: 0;
		padding: 0;
		position: relative;
		text-decoration: overline;
	}
	
	.submenu {
		width: 50%;
	}
	
	.submenu ul {
		opacity: 0.1;
		position: absolute;
		visibility: hidden;
		text-align: center;
		z-index: 5;
		-webkit-transition: 0.1s linear;
    	transition: 0.1s linear;
		width: 120px;
	}
	
	.submenu:hover ul {
		visibility: visible;
		background-color: #222;
		-webkit-transition: 0.1s linear;
    	transition: 0.1s linear;
		opacity: 0.9;
	}
	
	.submenu > ul > li > a {
		font-size: 12pt;
	}
	
	.submenu > ul > li > a:hover {
		font-size: 12.5pt;
		border-right: 1px solid #ddd;
		border-left: 1px solid #ddd;
	}
	
	.reel {
		max-height: 1080px;
		width: 66vw;
		position: fixed;
		z-index: 3;
		margin: 0 auto;
		top: 80px;
		left: 250px;
	}
	
	.reeloverlay {
		padding: 0;
		font-size: 16pt;
		background-color: #333;
		color: #efefef;
		opacity: 0.0;
		width: 66vw;
		position: fixed;
		z-index: 4;
		top: 180px;
		left: 250px;
		text-align: center;
		-webkit-transition: 0.1s linear;
    	transition: 0.1s linear;
	}
	
	.reelcontainer:hover .reeloverlay {
		opacity: 0.8;
		-webkit-transition: 0.1s linear;
    	transition: 0.1s linear;
	}
	
	.about {
		position: absolute;
		font-size: 12pt;
		margin: 0 auto;
		color: #efefef;
		top: 100px;
		left: 250px;
		width: 60%;
		z-index: 4;
		background-color: #222;
		text-align: justify;
		max-width: 1000px;
	}
	
	.aboutimg {
		width: 50%;
		height: 50%;
		max-width: 300px;
		max-height: 300px;
		padding: 20px;
		float: right;
	}
	
	.videocontainer {
		position: absolute;
		top: 0;
		left: 230px;
		height: 100%;
		width: calc(100% - 230px);
	}
	
	.videocontainer video {
		width: 90%;
		position: absolute;
		z-index: 2;
		padding-top: 10px;
		border-bottom: 1px solid #efefef;
		max-width: 1080px;
		min-width: 480px;
		margin-bottom: 15px;
	}
	
	.videocontainer .video {
		width: 100%;
		max-width: 1080px;
		min-width: 480px;
		height: 100%;
		position: relative;
	}
	
	.info {
		position: relative;
		z-index: 3;
		width: 30%;
		top: 170px;
		opacity: 0.0;
		visibility: hidden;
		color: #efefef;
		text-align: center;
		background-color: #222;
		font-size: 12pt;
		-webkit-transition: 0.1s linear;
    	transition: 0.1s linear;
	}
	
	.videocontainer .video:hover .info {
		visibility: visible;
		opacity: 0.8;
		-webkit-transition: 0.1s linear;
    	transition: 0.1s linear;
	}
}

@media (max-width:768px) and (min-width:0px) {
	.hide {
		display: none;
	}
	
	footer {
		position: fixed;
		z-index: 5;
		width: 100%;
		margin: 0;
		padding-bottom: 5px;
		color: #efefef;
		background-color: #222;
		opacity: 0.8;
		bottom: 0;
		left: 0;
		font-size: 10pt;
		text-align: center;
	}
	
	footer img {
		display: none;
	}
	
	.reelcontainer {
		top: 20px;
		width: 90%;
		position: relative;
		margin: 0 auto;
	}
	
	.reel {
		position: absolute;
		width: 100%;
		z-index: 3;
	}
	
	.reeloverlay {
		position: absolute;
		width: 100%;
		z-index: 4;
		top: 30px;
		background-color: #222;
		color: #efefef;
		text-align: center;
		opacity: 0.0;
		font-size: 12pt;
	}
	
	.reelcontainer:hover .reeloverlay {
		opacity: 0.8;
	}
	
	.menubar br {
		display: none;
	}
	
	.undertitle {
		font-size: 10pt;
		margin: 0;
		padding: 0;
		position: relative;
		text-decoration: overline;
	}
	
	.menubar {
		padding: 0;
		position: fixed;
		z-index: 4;
		margin: 0 auto;
		text-align: center;
		background-color: #222;
		opacity: 0.9;
		width: 100%;
		top: 0;
	}
	
	.menubar a {
		text-decoration: none;
		font-size: 16pt;
	}
	
	.menuitem > a {
		border-left: 1px solid #efefef;
		border-right: 1px solid #efefef;
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.title {
		padding: 0;
		margin: 0;
		height: 60px;
	}
	
	.title a {
		font-size: 25pt;
		border: 0;
	}
	
	.submenu ul li a {
		font-size: 13pt;
	}
	
	.submenu ul {
		text-align: right;
		margin: 0 auto;
		width: 110px;
	}
	
	.submenu > a {
		border-right: 0;
	}
	
	.about {
		padding-top: 50px;
		color: #efefef;
		font-size: 12pt;
		width: 90%;
		margin: 0 auto;
		text-align: justify;
		min-width: 400px;
	}
	
	.about img {
		width: 200px;
		float: right;
		padding: 20px;
	}
	
	.videocontainer {
		position: absolute;
		z-index: 3;
		width: 100%;
		left: 0;
		margin: 0 auto;
		text-align: center;
		top: 130px;
	}
	
	.videocontainer .video {
		position: relative;
		width: 95%;
		height: calc(100% - 10px);
		bottom: 18px;
		margin: 5px auto;
		border-bottom: 1px solid #efefef;
	}
	
	.videocontainer video {
		position: relative;
		width: 100%;
	}
	
	.videocontainer .info {
		color: #efefef;
		font-size: 10pt;
		margin-bottom: 5px;
	}
	
	.videocontainer .info br {
		display: none;
	}
}