@font-face {
   font-family: 'Indie Flower';
   font-style: regular;
   font-weight: 400;
   src: url('file:///Users/omi/Documents/GitHub/beerandcamera.github.io//fonts/Indie Flower/regular.ttf') format('truetype');
}
