@import url('https://fonts.googleapis.com/css?family=Lato:300,300i');

* {
	font-family: "Lato";
	text-decoration: none;
	color: #efefef;
	cursor: default;
	transition: 0.1s linear;
	-webkit-transition: 0.1s linear;
}

a {
	cursor: pointer;
}

html {
	background-color: #222;
}

@media (min-width: 768px) {
	footer {
		position: fixed;
		z-index: 5;
		width: 100%;
		margin: 0;
		padding-bottom: 5px;
		color: #efefef;
		background-color: #222;
		opacity: 0.8;
		bottom: 0;
		left: 0;
		font-size: 1em;
		text-align: center;
		display: block;
	}
	
	.titlecontainer {
		width: 100%;
		position: fixed;
		z-index: 9;
		text-align: center;
		background-color: #222;
		opacity: 0.8;
	}
	
	.title {
		position: relative;
		font-size: 2.5em;
		width: 250px;
		margin: 0 auto;
		z-index: 3;
		opacity: 0.9;
	}
	
	.undertitle {
		font-size: 0.36em;
		margin: 0 auto;
		padding: 0;
		position: relative;
		text-decoration: overline;
	}
	
	.title:hover {
		opacity: 1;
		color: #fefefe;
	}
	
	.menu {
		position: fixed;
		z-index: 2;
		margin: 0 auto;
		padding: 0;
		top: 90px;
		list-style: none;
		text-align: center;
		width: 100%;
		font-size: 1.8em;
	}
	
	.menuitem {
		margin: 0 auto;
		padding-top: 2px;
		padding-bottom: 5px;
		width: 234px;
		display: inline-block;
	}
	
	.selected {
		background-color: #efefef;
	}
	
	.selected a {
		color: #222;
		position: relative;
	}
	
	.menuitem:hover {
		background-color: #efefef;
		opacity: 0.9;
	}
	
	.menuitem:hover a {
		color: #222;
		position: relative;
		width: 100%;
		height: 100%;
	}
	
	.reelcontainer {
		position: fixed;
		top: 25%;
		width: 100%;
		height: 70%;
		text-align: center;
	}
	
	.reelcontainer iframe {
		position: relative;
		width: 50vw;
		height: calc(50vw / 1.78);
	}
	
	.gallerycontainer {
		width: 100%;
		height: calc(100% - 185px);
		margin: 0 auto;
		position: absolute;
		top: 150px;
	}
	
	.gallery {
		position: relative;
		width: 90%;
		background-color: #222;
		margin: 0 auto;
		height: 100%;
	}
	
	.item {
		width: 20vw;
		height: calc(20vw / 1.78);
		position: relative;
		display: inline-block;
		float: left;
	}
	
	.item iframe {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	
	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 4;
		background-color: #222;
		opacity: 0.9;
		color: #efefef;
		font-size: 0.7em;
		left: 0;
	}
	
	input:hover ~ .overlay {
		opacity: 0.1;
	}
	
	.item input {
		position: absolute;
		z-index: 5;
		width: 100%;
		height: 100%;
		opacity: 0.0;
		cursor: pointer;
	}
	
	input:checked ~ iframe {
		z-index: 9;
		margin: 0 auto;
		width: 60vw;
		height: calc(60vw / 1.78);
		position: fixed;
		left: 20vw;
		top: 150px;
	}
	
	input:checked {
		position: fixed;
		z-index: 8;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		margin: 0 auto;
	}
	
	input:checked ~ overlay {
		position: fixed;
		z-index: 7;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		opacity: 0.7;
		margin: 0 auto;
	}
}