@import url('https://fonts.googleapis.com/css?family=Poiret+One');

* {
	transition: 0.2s ease;
	-webkit-transition: 0.2s ease;
}

html {
	font-family: "Poiret One";
	color: #efefef;
	background-image: url("http://beerandcamera.com/img/bg-dark.jpg");
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: center;
	background-color:#efefef;
}

a {
	text-decoration: none;
	color: #efefef;
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

@media (min-width:800px) {
	iframe {
		width:240px;
		height:80px;
	}
	
	.bar {
		position: fixed;
		z-index: 8;
		display: block;
		top: 0;
		left: 0;
		width: 20vw;
		height: 100vh;
		text-align: center;
		opacity: 0.7;
	}
	
	.logoContainer {
		position: relative;
		top: 40px;
		left: 0;
		height: 100px;
		width: 100%;
		text-align: center;
		display: block;
	}
	
	#logo {
		position: relative;
		height: 100px;
	}
	
	.menu {
		display: block;
		position: absolute;
		top: 30%;
		width: 20vw;
		z-index: 8;
		text-align: center;
	}
	
	.menu > .menuitem {
		padding-top: 25px;
		font-size: 18pt;
		display: block;
	}
	
	.dd > .menuitem {
		padding-top: 10px;
		display: block;
		font-size: 18pt;
	}
	
	.dd {
		opacity: 0;
		height: 0px;
		visibility: hidden;
		text-align: center;
		margin: 0 auto;
	}
	
	.dd-container {
		margin: 0 auto;
		width: 100px;
		text-align: left;
	}
	
	#dd-checkbox {
		position: absolute;
		z-index: 9;
		height: 24px;
		width: 100px;
		padding: 0;
		display: inline;
		float: left;
		opacity: 0;
	}
	
	input:hover {
		cursor: pointer;
	}
	
	.dd-button {
		position: relative;
		display: block;
		z-index: 8;
	}
	
	#dd-checkbox:checked ~ .dd {
		visibility: visible;
		opacity: 1.0;
		height: 70px;
	}
	
	.aboutContainer {
		width: 80vw;
		height: calc(100vh - 24px);
		right: 0;
		top: 0;
		position: absolute;
		display: block;
	}
	
	.aboutContainer img {
		height: 300px;
		margin: 0 auto;
		padding-top: 15px;
	}
	
	.about {
		position: absolute;
		display: block;
		top: 350px;
		width: 200px;
	}
}

@media (max-width:800px) {
	iframe {
		width:80px;
		height:80px;
	}
	
	.logoContainer {
		position: absolute;
		left: 5px;
		width: 100%;
		display: none;
	}
	
	#logo {
		height: 100px;
	}
	
	.menu {
		position: fixed;
		margin: 0 auto;
		top: 0;
		left: calc((100vw - 190px) / 2);
		background-image: url("http://beerandcamera.com/img/bg-dark.jpg");
		
		opacity: 0.7;
		z-index: 8;
	}
	
	#dd-checkbox {
		display: inline;
		position: absolute;
		z-index: 9;
		width: 60px;
		opacity: 0;
		cursor: pointer;
	}
	
	.dd {
		visibility: hidden;
		height: 0px;
		opacity: 0;
	}
	
	#dd-checkbox:checked ~ .dd {
		visibility: visible;
		opacity: 1.0;
		height: 70px;
	}
	
	.menu > .menuitem {
		padding-right: 10px;
		float: left;
	}
	
	.dd > .menuitem {
		padding-top: 10px;
	}
	
	img {
		margin-top: 100px;
		left: 0;
		width: 60vw;
		max-width: 500px;
	}
	
	img:last-child {
		margin-bottom: 20px;
	}
}