@media (min-width: 800px) {
	#about hr {
		width: 90%;
	}	#work:hover hr {
		width: 80%;
	}

	#aboutContent {
		position: absolute;
		display: grid;
		z-index: 3;

		min-height: 600px;
		height: 100vh;
		width: 100vw;
		left: 0;
		top: 0;
		grid-template-columns: 40% 60%;
		align-items: center;

		color: var(--generalFG);
		font-size: var(--contentFS);
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px);
	} #aboutContent a {
		color: var(--generalFG);
		text-decoration: underline;
	} #summary {
		padding-left: 35%;
		text-align: left;
	} #workHistory {
		padding-right: 20%;
		text-align: right;
	} .works, .skills {
		list-style: none;
		padding: 0;
	}
}

@media (max-width: 800px) {
	#menubar {
		position: -webkit-sticky;
		position: sticky;
		display: grid;
		z-index: 5;

		grid-template-columns: auto auto auto;
		align-items: center;
		top: 0;
		left: 0;

		font-family: var(--titleFF);
		font-size: var(--categoryFS);
		color: var(--generalFG);
	} .menubutton {
		display: block;
		grid-row-start: 2;
		grid-row-end: 3;

		color: var(--generalFG); 
	} .menubutton hr {
		display: none;
	} #about {
		font-weight: 800;
	}

	#aboutContent {
		position: relative;
		display: grid;
		z-index: 3;

		grid-template-rows: auto auto;
		padding-bottom: var(--titleFS);

		color: var(--generalFG);
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px);
		font-size: var(--contentFS);
	} .works, .skills {
		text-align: right;
		list-style: none;
		padding: 5px 0px;
	} #skillset, #workHistory {
		padding: 0;
	}
}
