@media (min-width: 900px) {
	body {
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px);
	}

	#work hr {
		width: 60%;
	} #work:hover hr {
		width: 80%;
	}

	.container {
		position: fixed;
		display: inline-grid;
		z-index: 4;

		grid-template-columns: 100%;
		row-gap: 10px;

		overflow: visible;
	} #art {
		width: 120px;
		top: calc(var(--titleFS) * 2);
		left: 15px;
		justify-items: left;
	} #science {
		display: none;
	} .button {
		width: fit-content;

		color: var(--generalFG);
		font-size: var(--categoryFS);
	}

	.gallery {
		display: inline-grid;
		position: absolute;
		z-index: 3;

		padding-top: calc(var(--titleFS) * 2);
		left: 0;
		width: 100vw;
		height: calc(100vh - (var(--titleFS) * 2));
		justify-content: center;
		overflow-y: scroll;
	} .gallery img {
		border: var(--imageBorder);
		margin-bottom: 25px;
		height: 600px;
		max-height: 600px;

		border-radius: var(--imageBorderRadius);
		box-shadow: var(--imageShadow);
	}
}

@media (max-width: 900px) {
	#menubar {
		position: -webkit-sticky;
		position: sticky;
		display: grid;
		z-index: 5;

		grid-template-columns: auto auto auto;
		align-items: center;
		top: 0;
		left: 0;

		font-family: var(--titleFF);
		font-size: var(--categoryFS);
		color: var(--generalFG);
	} .menubutton {
		display: block;
		grid-row-start: 2;
		grid-row-end: 3;

		color: var(--generalFG); 
	} .menubutton hr {
		display: none;
	} #work {
		font-weight: 800;
	}

	.container {
		display: none;
	}
	
	.gallery {
		position: relative;
		display: grid;
		z-index: 2;

		width: 100vw;
		grid-template-rows: repeat(auto-fill, auto);
		grid-template-columns: auto;
		row-gap: 10px;
		padding-bottom: 10px;
		
		-webkit-backdrop-filter: blur(25px);
		backdrop-filter: blur(25px);
	} .gallery img {
		max-width: calc(100vw - 10px);
		height: auto;

		border: var(--imageBorder);
		border-radius: var(--imageBorderRadius);
		box-shadow: var(--imageShadow);
	}
}
