@font-face {
	font-family: mmd;
	src: url(../fonts/mmd/MMD-Regular.ttf);
}

* {
	transition-duration: 0.2s;
}

body::-webkit-scrollbar {
	display: none;
}

:root {
	/*colour*/
	--generalBG: #222;
	--generalFG: #efefef;
	/*font-size*/
	--titleFS: 28pt;
	--subtitleFS: 24pt;
	--categoryFS: 16pt;
	--contentFS: 14pt;
	/*font-family*/
	--titleFF: mmd;
	--generalFF: Courier, Georgia;
	/*gallery*/
	--imageBorder: 0px /*0px #efefef solid*/;
	--imageShadow: 10px;
	/*
		6px 6px 5px #666
		,-5px -5px 5px #ccc
		,-5px 5px 5px #999
		,5px -5px 5px #999;
	*/
	--imageBorderRadius: 0px;
	--otherBorderRadius: 10px;
} a {
	text-decoration: none;
	color: var(--generalFG);
}

@media (min-width: 800px) {
	html {
		top: 0;
		left: 0;
	} body {
		display: block;
		z-index: 1;
		
		min-height: 100vh;
		width: 100vw;
		margin: 0;
		top: 0;
		left: 0;
	
		background-color: var(--generalBG);
		background-image: url(../img/home-lg.jpg);
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#menubar {
		display: grid;
		position: fixed;
		z-index: 5;

		height: auto;
		width: 100%;
		grid-template-columns: auto auto auto;
		grid-template-rows: 100%;
		grid-gap: 100px;
		justify-content: center;

		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px);
	} .menubutton {
		font-size: var(--subtitleFS);
		font-family: var(--titleFF);
		font-weight: 800;
		color: var(--generalFG);
	} hr {
		border-width: 2px;
		border-radius: var(--otherBorderRadius);
	} .menubutton:not([id="title"]) hr {
		width: 25%;
	} .menubutton:hover:not([id="title"]) hr {
		width: 80%;
	}
}

@media (max-width: 800px) {
	body {
		top: 0;
		left: 0;
		min-height: 100vh;
		width: 100vw;
		padding: 0;
		margin: 0;

		background-image: url(../img/home-lg.jpg);
		background-color: var(--generalBG);
		background-position: top;
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	#menubar {
		position: relative;
		display: grid;
		z-index: 5;

		grid-template-rows: auto auto auto;
		justify-items: center;
		row-gap: 20px;
		top: 100pt;
		left: 0;

		
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px);
		font-family: var(--titleFF);
		font-size: var(--subtitleFS);
	} .menubutton {
		display: block;

		color: var(--generalFG);
	} .menubutton hr {
		display: none;
	}
}
