#menubar {
	backdrop-filter: none !important;
	-webkit-backdrop-filter: none !important;
}

@media (min-width:900px) {
	#work hr {
		width: 90%;
	}

	#about:hover hr {
		width: 80%;
	}

	.container {
		position: fixed;
		display: inline-grid;

		grid-template-columns: 100%;
		row-gap: 10px;
	} .button {
		width: fit-content;

		color: var(--generalFG);
		font-size: var(--categoryFS);
	} #art {
		top: calc(var(--titleFS) * 2);
		left: 15vw;
	} #science {
		justify-items: right;
		top: calc(var(--titleFS) * 2);
		right: 14vw;
	}
}

@media (max-width: 900px) {
	#menubar {
		position: -webkit-sticky;
		position: sticky;
		display: grid;
		z-index: 5;

		grid-template-columns: auto auto auto;
		align-items: center;
		top: 0;
		left: 0;

		font-family: var(--titleFF);
		font-size: var(--categoryFS);
		color: var(--generalFG);
	} .menubutton {
		display: block;
		grid-row-start: 2;
		grid-row-end: 3;

		color: var(--generalFG); 
	} .menubutton hr {
		display: none;
	} #work {
		font-weight: 800;
	}

	.container {
		display: inline-grid;
		position: absolute;

		grid-template-rows: auto auto;
	}	#science {
		right: 0;
		justify-items: right;
	} #art {
		left: 0;
	} .button {
		width: fit-content;

		padding: 2px 10px;
		font-size: var(--contentFS);
	}
}
