@media (min-width:800px) {
	#work hr {
		width: 90%;
	}

	#about:hover hr {
		width: 80%;
	}

	.container {
		position: fixed;
		display: inline-grid;

		grid-template-columns: 100%;
		row-gap: 10px;
	} .button {
		color: var(--generalFG);
		font-size: var(--categoryFS);
	} #art {
		top: calc(var(--titleFS) * 2);
		left: 15vw;
	} #science {
		justify-items: right;
		top: calc(var(--titleFS) * 2);
		right: 14vw;
	}
}

@media (max-width: 800px) {
	#menubar {
		position: -webkit-sticky;
		position: sticky;
		display: grid;
		z-index: 5;

		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto;
		padding-top: 10pt;
		align-items: center;
		top: 0;
		left: 0;

		font-family: var(--titleFF);
		font-size: var(--categoryFS);
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px);
		color: var(--generalFG);
	} .menubutton {
		display: block;

		color: var(--generalFG);
	} .menubutton hr {
		display: none;
	} #work {
		font-weight: 800;
	}
}
