@media (min-width:800px) {
	#work hr {
		width: 90%;
	}

	#about:hover hr {
		width: 80%;
	}

	.container {
		position: fixed;
		display: inline-grid;

		grid-template-columns: 100%;
		row-gap: 10px;
	} .button {
		color: var(--generalFG);
		font-size: var(--categoryFS);
	} #art {
		top: calc(var(--titleFS) * 2);
		left: 15vw;
	} #science {
		justify-items: right;
		top: calc(var(--titleFS) * 2);
		right: 14vw;
	}
}

@media (max-width: 800px) {
	body {
		position: absolute;
	}

	#menubar {
		height: auto;
		width: auto;

		backdrop-filter: blur(25px);
		-moz-backdrop-filter: blur(25px);
	} .menubutton {
		display: inline;

		font-size: var(--categoryFS);
		line-height: normal;
	} #work {
		font-weight: 600;
	}

	.container {
		display: grid;
		z-index: 3;

		grid-template-rows: repeat(auto-fill, var(--categoryFS));
		row-gap: 10px;
		padding: calc(var(--titleFS) * 2);

		backdrop-filter: blur(25px);
	} .button {
		color: var(--generalFG);
		font-size: var(--categoryFS);
	} #science a {
		display: none;
	} #science::after {
		content: "View on computer to see coding works, thanks.";
		color: var(--generalFG);
		font-size: var(--contentFS);
		font-style: italic;
	}
}
