@import url('https://fonts.googleapis.com/css?family=Lato:300,300i');

html {
	font-family: "Lato", sans-serif;
	color: #ddd;
	cursor: default;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

/*normal screens*/
@media (min-width:768px) {
	body {
		background-color: #333;
		text-align: center;
		padding: 0px;
		margin: 0px;
	}
	
	.menuContainer {
		opacity: 0.8;
		width: 100%;
		top: 0;
		left: 0;
		padding: 5px;
		position: fixed;
		z-index: 4;
		background-color: #333;
	}
	
	.menu {
		text-align: center;
	}
	
	.menuItem {
		padding: 5px;
		display: inline;
	}
	
	.menuItem .title {
		font-size: 28pt;
		color: #ddd;
	} 
	
	.menuItem .title:hover {
		-webkit-transition: font-size 0.1s;
    	transition: font-size 0.1s;
		font-size: 30pt;
	}
	
	.menuItem a:hover {
		cursor: pointer;
		color: #ddd;
		font-size: 24pt;
		-webkit-transition: font-size 0.1s;
    	transition: font-size 0.1s;
	}
	
	.menuItem a {
		color: #ddd;
		text-decoration: none;
		font-size: 20pt;
		-webkit-transition: font-size 0.1s;
    	transition: font-size 0.1s;
	}
	
	.homeImg {
		margin-top: 6%;
		top: 0;
		left: 0;
	}
	
	.workOverlay {
		background-image: url(http://beerandcamera.com/img/home.jpg);
		width: 100vw;
		height:100vh;
		max-height: 600px;
		max-width: 1067px;
		z-index: 2;
		margin-top: 6%;
		top: 0;
		left: 0;
		display: inline-block;
	}
	
	.workOverlay ul {
		width: 100%;
		height: 600px;
		position: relative;
		text-align: center;
	}
	
	.workOverlay > ul > li {
		width: 50%;
		height: 100%;
		float: left;
		background-color: #333;
		opacity: 0.8;
		-webkit-transition: 0.1s;
    	transition: 0.1s;
	}
	
	.workOverlay a {
		text-decoration: none;
		color: #ddd;
		font-size: 18pt;
	}
	
	.workOverlay > ul li:hover {
		background-color: #ddd; 
		-webkit-transition: 0.1s;
    	transition: 0.1s;
	}
	
	.workOverlay > ul li:hover a {
		color: #333;
		-webkit-transition: 0.1s;
    	transition: 0.1s;
		top: 50px;
	}
	
	.menuDesign, .menuPersonal {
		display: none;
		top: 130px;
	}
	
	.workOverlay > ul > li > a {
		position: relative;
		top: 200px;
		text-decoration: overline;
	}
	
	.workOverlay > ul li:hover .menuDesign, .workOverlay > ul li:hover .menuPersonal {
		display: block;
	}
	
	.aboutContainer {
		position: relative;
		margin: auto;
    	width: 50%;
		top: 50px;
		overflow: hidden;
	}
	
	.about a {
		color: #ddd;
	}
	
	.about {
		text-align: left;
	}
	
	.aboutImg {
		position: relative;
		height: 500px;
	}
	
	div img {
		left: 5px;
		padding-right: 5px;
		height: 600px;
		z-index: 1;
		float: left;
		top: 65px;
		overflow-y: hidden;
		position: relative;
	}

	.d1010 {
		width: 3595px;
		height: 100%;
	}

	.n1010 {
		width: 3220px;
		height: 100%;
	}

	.kef {
		width: 13000px;
		height: 100%;
	}

	.n-i {
		width: 13000px;
		height: 100%;
	}

	.s-i {
		width: 18400px;
		height: 100%;
	}

	.hebei01 {
		width: 14000px;
		height: 100%;
	}

	.hebei02 {
		width: 5550px;
		height: 100%;
	}

	.gor {
		width: 15150px;
		height: 100%;
	}

	.gbi {
		width: 7400px;
		height: 100%;
	}

	.sdc {
		width: 11920px;
		height: 100%;
	}

	.seoul { 
		width: 20460px;
		height: 100%;
	}

	.interior {
		width: 6500px;
		height: 100%;
	}

	.portraits {
		width: 10800px;
		height: 100%;
	}
}

/*small screens*/
@media (max-width:768px) {
	body {
		background-image: url(http://beerandcamera.com/img/home.jpg);
		background-position: center;
		background-size: cover;
		background-repeat:no-repeat;
		background-attachment: fixed;
		text-align: center;
		padding: 0px;
		margin: 0px;
	}
	
	.menuContainer {
		opacity: 0.9;
		width: 100%;
		left: 0;
		position: fixed;
		z-index: 4;
		background-color: #efefef;
		top: 0;
		height: 100%;
	}
	
	.hide {
		display: none;
	}
	
	.menu {
		text-align: center;
		height: 100%;
	}
	
	.menuItem {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	.menuItem .title {
		font-size: 28pt;
		color: #ddd;
	} 
	
	.menuItem .title:hover {
		-webkit-transition: font-size 0.1s;
    	transition: font-size 0.1s;
		font-size: 30pt;
	}
	
	.menuItem a:hover {
		cursor: pointer;
		color: #ddd;
		font-size: 24pt;
		-webkit-transition: font-size 0.1s;
    	transition: font-size 0.1s;
	}
	
	.menuItem a {
		color: #ddd;
		text-decoration: none;
		font-size: 20pt;
		-webkit-transition: font-size 0.1s;
    	transition: font-size 0.1s;
	}
	
	.homeImg {
		display: none;
	}
	
	.workOverlay {
		position: relative;
		z-index: 4;
		top: 100px;
		width: 100%;
	}
	
	.menuPersonal, .menuDesign {
		padding: 10px;
	}
	
	.menuPersonal li, .menuDesign li {
		padding: 10px;
	}
	
	.workOverlay > ul > li > a {
		text-decoration: underline;
	}
	
	.menuPersonal a, .menuDesign a {
		text-decoration: none;
		color: #ddd;
	}
	
	.aboutContainer {
		position: absolute;
		z-index: 4;
		padding: 10px;
		top: 100px;
	}
	
	.about {
		width: 70%;
		margin: 0px auto;
	}
	
	.aboutImg {
		display: none;
	}
	
	.about a {
		text-decoration: none;
		color: #ddd;
	}
}